body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.absolute {
    position: absolute;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .loader {
    display: flex;
    width: 200px;
  }
  
  .w-2 {
    width: 0.5em;
  }
  
  .dash {
    animation: dashArray 2s ease-in-out infinite,
      dashOffset 2s linear infinite;
  }
  
  .spin {
    animation: spinDashArray 2s ease-in-out infinite,
      spin 8s ease-in-out infinite,
      dashOffset 2s linear infinite;
    transform-origin: center;
  }
  
  @keyframes dashArray {
    0% {
      stroke-dasharray: 0 1 359 0;
    }
  
    50% {
      stroke-dasharray: 0 359 1 0;
    }
  
    100% {
      stroke-dasharray: 359 1 0 0;
    }
  }
  
  @keyframes spinDashArray {
    0% {
      stroke-dasharray: 270 90;
    }
  
    50% {
      stroke-dasharray: 0 360;
    }
  
    100% {
      stroke-dasharray: 270 90;
    }
  }
  
  @keyframes dashOffset {
    0% {
      stroke-dashoffset: 365;
    }
  
    100% {
      stroke-dashoffset: 5;
    }
  }
  
  @keyframes spin {
    0% {
      rotate: 0deg;
    }
  
    12.5%,
    25% {
      rotate: 270deg;
    }
  
    37.5%,
    50% {
      rotate: 540deg;
    }
  
    62.5%,
    75% {
      rotate: 810deg;
    }
  
    87.5%,
    100% {
      rotate: 1080deg;
    }
  }
  .modal {
    position: fixed;
    width: 30%;
    left: 35%;
    height: 70%;
    top: 15%;
    background: linear-gradient(180deg, #7F49E7 0%, #EB3EEA 51.01%, #63D78F 100%);
    display: none;
    padding: 10px;
  }
  .btnAdd {
    display: none;
    margin-top: 50px;
  }
  .title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #fff;
  }
  .inputText{
    width: 50%;
    display: block;
    margin: 25px auto;

  }
  .inputTitle {
    width: 50%;
    display: block;
    margin: 25px auto;
  }
  .btnSave {
    display: block;
    width: 50px;
    height: 40px;
    margin: 25px auto;
  }
  .btnSavePost{
    display: none;
  }
  .edit {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url("./edit.svg");
    background-size: 100% 100%;
    border: 1px;
  }
  .svg {
    width: 100%;
    height: 100%;

  }
  .btnsPost {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 20px;

  }